<div class="x-white-box">
	<h3 class="x-box-title">
		友情链接 <span class="x-title-border"></span>
	</h3>
	<div class="x-margin-bottom-10 x-margin-top-10 clearfix">
		<div class="x-layout-80">
			<a href="http://blog.sina.com.cn/superbugs" target="_blank" class="right-box-title">
				<i class="fa fa-arrow-right" aria-hidden="true"></i>
				<span>我的新浪博客</span>
			</a>
		</div>
		<div class="x-layout-80">
			<a href="http://greeks.studio/" target="_blank" class="right-box-title">
				<i class="fa fa-arrow-right" aria-hidden="true"></i>
				<span>吴昭的个人博客</span>
			</a>
		</div>
	</div>
</div>
