<div class="x-white-box">
    <h3 class="x-box-title">
        微信公号 <span class="x-title-border"></span>
    </h3>
    <div class="x-margin-bottom-10 x-margin-top-10 clearfix">
        <div class="x-layout-100">
            <div class="x-font-center">
                <img class="x-item-space-12" src="/attachment/20200415/23cd79cb78874bd495af79152b35de77.jpg">
                <p class="x-font-grey">关注走一波，收获多又多！</p>
            </div>
        </div>
    </div>
</div>

<div class="x-white-box">
	<h3 class="x-box-title">
		专题栏目 <span class="x-title-border"></span>
	</h3>
	<@jp.taxonomys module="article" type="feature">

	<#list taxonomys as taxonomy>
		<div class="x-margin-bottom-10 x-margin-top-10 clearfix">
			<div class="x-layout-80">
				<a href="${taxonomy.url!}" class="right-box-title">
					<i class="fa fa-book" aria-hidden="true"></i>
					<span>${taxonomy.title!}</span>
				</a>
			</div>
		</div>
	</#list>
	</@jp.taxonomys>
</div>
